.vFull {
  padding: 3% 5%;
  max-height: 100%;
  position: relative;
}

.vHero {
  object-fit: cover;
  width: 120%;
  margin-left: -10%;
  height: 500px;
}

.vInner {
  position: absolute;
  top: 0px;
  left: 0px;
}

.vBtn {
  height: 100px;
  color: white;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  transition: background-color 0.5s;
  box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.4);
}

.vLeer {
  background-color: #0a4577;
  border: 5px solid #0a4577;
}
.vLeer:hover {
  background-color: #ffffff;
  color: #0a4577;
  box-shadow: inset 5px 5px 10px rgb(0, 0, 0, 0.4);
}

.vInr {
  background-color: #d9534f;
  border: 5px solid #d9534f;
}
.vInr:hover {
  background-color: #ffffff;
  color: #d9534f;
  box-shadow: inset 5px 5px 10px rgb(0, 0, 0, 0.4);
}

.vVerz {
  background-color: #f0ad4e;
  border: 5px solid #f0ad4e;
}
.vVerz:hover {
  background-color: #ffffff;
  color: #f0ad4e;
  box-shadow: inset 5px 5px 10px rgb(0, 0, 0, 0.4);
}

.vElek {
  background-color: #0c8fc6;
  border: 5px solid #0c8fc6;
}
.vElek:hover {
  background-color: #ffffff;
  color: #0c8fc6;
  box-shadow: inset 5px 5px 10px rgb(0, 0, 0, 0.4);
}

.vWelkom {
  width: 50%;
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.vWelkomTitle {
  font-size: 50px;
}

.vWelkomLead {
  color: #292c63;
  font-size: 18px;
}

.vWelkomLink {
  color: #a8aaac;
  font-size: 14px;
}

.vFooterAdres {
  list-style: none;
}

.vFooterAdres {
  margin-left: -40px;
}

/* MEDIA QUERIES */

@media all and (min-width: 1201px) {
  .vBtn {
    font-size: 1.75em;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .vBtn {
    font-size: 1.5em;
  }
}

@media all and (max-width: 767px) {
  .vFull {
    background: none;
    padding: 5% inherit;
  }

  .vBtn {
    display: inline-block;
    width: 100%;
    font-size: 1.75em;
  }
  
  .vHero {
    margin-top: 300px;
    height: 600px;
  }
  
  .vWelkomLead {
    display: none;
  }
}
